/* Home.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 60px;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #f9b806;
  border-bottom: 1px solid #ddd;
  width: calc(100%); /* Adjust this width based on your sidebar width */
}

.app-heading {
  font-size: 2em;
  margin-left: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

.search-form {
  display: flex;
  margin-left: 10px;
  margin-right: 5px;
}

.search-form input {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-form button {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.weather-info-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.city-name {
  font-size: 1.5em;
  margin-top: 20px;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
}

.temperature {
  font-size: 3em;
  font-weight: bold;
}

.description {
  font-size: 1.2em;
}
