/* Home.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px 10px;
  padding: 0;
  margin-left: 52px;
  margin-top: 10px;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 20px; /* Increased padding for better spacing */
  background-color: #004d99; /* Dark blue background for the taskbar */
  color: white; /* White text color for contrast */
  border-bottom: 1px solid #003366; /* Slightly darker blue border */
  width: calc(100% - 60px); /* Full width minus sidebar width */
  position: absolute;
  top: 0;
  box-sizing: border-box; /* Include padding and border in element's total width */
}

.app-heading {
  font-size: 2em;
  margin-left: 0;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

.search-form {
  display: flex;
  margin-left: 10px;
  margin-right: 5px;
}

.search-form input {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-form button {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.weather-info-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 60px;
}

.city-name {
  font-size: 1.5em;
  margin-top: 20px;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
}

.temperature {
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
}

.description {
  font-size: 1.2em;
}
