/* Sidebar.css */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100vh; /* Full height to cover the viewport */
  background-color: #333; /* Dark gray background for sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.icon {
  color: white;
  margin: 20px 0;
  font-size: 24px;
  cursor: pointer;
}

hr {
  width: 50px;
  border: 1px solid #555;
  margin: 10px 0;
}

.icon:hover {
  color: #61dafb; /* Light blue on hover */
}

